@import './vars.scss';

/* base */
html,
body {
	height: 100%;
}
body {
	direction: ltr;
	line-height: 1.5;
	font-size: $f-z-default;
	font-family: $f-f-default;
	color: $f-color-default;
	font-weight: $f-w-regular;
	word-break: keep-all;
	background: $bg-default;
}
.blind {
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	text-align: left;
	text-indent: -9999em;
}
.clear:after {
	content: "";
	clear: both;
	display: block;
}
.accNav:focus {
	display: block;
	top: 0;
	left: 50%;
	width: 100px;
	height: auto;
	margin: 0 0 0 -50px;
	padding: 3px 0;
	text-align: center;
	font-size: 11px;
	text-indent: 0;
	color: $color-white;
	background-color: $f-color-default;
	z-index: 999;
}

#app {
	height: 100%;
}

.pages {
  background-color: $color-white;
}

.mods {
  position: relative;
	.inner {
		padding: 8px 15px;
	}
	.module {
		display: flex;
    margin: 0 -8px;
    ol {
      padding-left: 1.3em;
      list-style-type: decimal;
    }
    ul {
      padding-left: 1.3em;
      list-style-type: disc;
      ul {
        list-style-type: circle;
        ul {
          list-style-type: square;
        }
      }
    }
    li {
      list-style: inherit;
    }
	}
	.column {
		flex: 1;
		padding: 0 8px;
	}
	.uploadImg {
		display: block;
		padding: 30px 0;
		text-align: center;
		color: $color-grey;
		background-color: $bg-default;
		cursor: pointer;
    input[type="file"] {
      position: absolute;
      left: -9999px;
      width: 1px;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      opacity: 0;
    }
	}
	[data-mods*="img"] img {
		width: 100%;
  }
}

.formGroup {
	.label {
		display: block;
	}
	.input {
		padding: 8px 10px;
		@include input;
	}
	.textarea {
		min-height: calc(6em + 16px);
	}
	.label + .input {
		margin-top: 0.5em;
	}
}

.btn {
	display: inline-block;
	min-width: 120px;
	padding: 5px 25px;
	text-align: center;
	color: $color-white;
	border-radius: 2px;
	border: 1px solid $color-primary;
	background-color: $color-primary;
}

.checkbox {
	display: inline-block;
	margin-right: 20px;
	input[type="checkbox"],
	input[type="radio"] {
		position: absolute;
		left: -9999px;
		width: 1px;
		height: 1px;
		margin: -1px;
		opacity: 0;
		&:checked+label {
			&:before {
				width: 10px;
				height: 10px;
				border-width: 5px;
				border-color: $color-primary;
				background-color: rgba($color-blue, 0.2);
			}
		}
	}
	label {
		display: block;
		position: relative;
		padding-left: 24px;
		cursor: pointer;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 16px;
			height: 16px;
			border: 2px solid $color-grey;
			background-color: $color-white;
			transition: all 0.3s;
		}
	}
	&.radio {
		label:before {
			border-radius: 100%;
		}
	}
	&.active {
		color: $color-red;
	}
}