@import './vars.scss';

/* base */
html,
body {
	height: 100%;
}
body {
	direction: ltr;
	line-height: 1.5;
	font-size: $f-z-default;
	font-family: $f-f-default;
	color: $f-color-default;
	font-weight: $f-w-regular;
	word-break: keep-all;
	background: $bg-default;
}
.blind {
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	text-align: left;
	text-indent: -9999em;
}
.clear:after {
	content: "";
	clear: both;
	display: block;
}
.accNav:focus {
	display: block;
	top: 0;
	left: 50%;
	width: 100px;
	height: auto;
	margin: 0 0 0 -50px;
	padding: 3px 0;
	text-align: center;
	font-size: 11px;
	text-indent: 0;
	color: $color-white;
	background-color: $f-color-default;
	z-index: 999;
}

#app {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.pages {
  background-color: $color-white;
}

.mods {
  position: relative;
	.inner {
		position: relative;
		padding: 8px 15px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		&.padding {
			padding: 0;
		}
		&.background {
			background: none !important;
		}
		&.border {
			border: none !important;
    }
    &.color {
      color: inherit !important;
    }
	}
	.module {
		display: flex;
    margin: 0 -8px;
    img {
      width: 100%;
    }
		p {
			min-height: 1.5em;
		}
    ol {
      padding-left: 1.3em;
      list-style-type: decimal;
    }
    ul {
      padding-left: 1.3em;
      list-style-type: disc;
      ul {
        list-style-type: circle;
        ul {
          list-style-type: square;
        }
      }
    }
    li {
      list-style: inherit;
    }
	}
	.column {
		flex: 1;
		padding: 0 8px;
	}
	[data-mods*="img"] img {
		width: 100%;
  }
  .border {
    border-top: 1px solid $f-color-default;
    border-bottom: none !important;
  }
}

.formGroup {
	.label {
		display: block;
		margin-bottom: 0.5em;
  }
  &.isRequired .label:before {
    content: "*";
    margin-right: 0.3em;
    color: $color-red;
  }
	.input {
		padding: 8px 10px;
		@include input;
  }
	.textarea {
		min-height: calc(6em + 16px);
	}
	.quantity {
		display: flex;
		position: relative;
		background-color: $color-white;
		.btnQuantity {
			width: 40px;
			height: 40px;
			border: 1px solid $color-lgrey;
		}
		.inputQuantity {
			flex: 1;
			text-align: center;
			border: 1px solid $color-lgrey;
			border-right: none;
			border-left: none;
			background-color: transparent;
		}
	}
	.listItem {
		display: block;
		margin-right: 0;
		margin-bottom: 10px;
	}
}

.btn {
	display: inline-block;
	min-width: 120px;
	padding: 5px 25px;
	text-align: center;
	color: $color-white;
	border: 1px solid $color-primary;
	background-color: $color-primary;
	&.btnFull {
		width: 100%;
  }
  &.sizeL {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.checkbox {
	display: inline-block;
	margin-right: 20px;
	input[type="checkbox"],
	input[type="radio"] {
		position: absolute;
		left: -9999px;
		width: 1px;
		height: 1px;
		margin: -1px;
		opacity: 0;
		&:checked+label:before {
			width: 6px;
			height: 6px;
			border-width: 4px;
			border-color: $color-primary;
			background-color: rgba($color-blue, 0.2);
		}
	}
	label {
		display: block;
    position: relative;
    min-height: 1.5em;
		padding-left: 20px;
		cursor: pointer;
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 0;
			width: 10px;
			height: 10px;
			border: 2px solid $color-grey;
			background-color: $color-white;
			transition: all 0.3s;
		}
	}
	&.radio {
		label:before {
			border-radius: 100%;
		}
	}
	&.active {
		color: $color-red;
	}
}

.datetime {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -4px;
  margin-right: -4px;
  .label {
    flex-basis: 100%;
  }
  .vdatetime {
    flex-basis: calc(50% - 8px);
    margin: 0 4px;
  }
}