@import './vars.scss';

@mixin mods-hover {
  border: 1px dashed $color-grey;
}
@mixin mods-active {
  border: 1px solid $color-primary;
}
.editor {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}
.moduleList {
	.moduleTab {
		display: flex;
		.btn {
			flex: 1;
			padding: 1em 0;
			border: 1px solid $color-lgrey;
			border-left: none;
			color: $color-white;
			background-color: $color-primary;
			&.active {
				color: inherit;
				border-bottom-color: transparent;
				background-color: $color-white;
			}
		}
	}
	.list {
		display: flex;
		flex-wrap: wrap;
		width: 360px;
		padding: 8px;
		border: 1px solid $color-lgrey;
		border-top: none;
		background-color: $color-white;
		.item {
			position: relative;
			width: calc(33.33% - 8px);
			margin: 4px;
			padding-top: 1em;
			padding-bottom: 1em;
			text-align: center;
			white-space: nowrap;
			border: 1px solid $color-lgrey2;
			background-color: $color-white;
			cursor: move;
			&:before {
				content: "";
				display: block;
				margin-bottom: 1em;
				padding-bottom: calc(100% - 4.5em);
			}
			&:hover {
				border-color: $color-grey;
			}
		}
	}
}
.preview {
  flex: 1;
  padding-left: 30px;
  .article {
    max-width: 375px;
    background-color: #fff;
  }
  .noMods {
    padding: 100px 0;
    text-align: center;
  }
  .item {
    padding: 8px 30px;
    text-align: center;
    @include mods-hover;
  }
  .mods {
    border: 1px dashed transparent;
    &:hover {
			@include mods-hover;
			z-index: 1;
    }
    &.hover {
      .handleMods {
        display: block;
        .btn {
          @include mods-hover;
        }
			}
			z-index: 1;
    }
    &.active {
      @include mods-active;
      .handleMods {
        display: block;
        .btn {
          @include mods-active;
          background-color: $color-primary;
        }
      }
    }
  }
  .handleMods {
    display: none;
    position: absolute;
    top: -1px;
    left: 100%;
    background-color: #fff;
    .btn {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      background-color: $color-grey;
      background-position: 50% 50%;
      background-size: 66%;
      background-repeat: no-repeat;
      &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        border-top: 1px solid $color-white;
        opacity: 0.3;
      }
      &:first-of-type:before {
        display: none;
      }
    }
    .btnMove {
      cursor: move;
      background-image: url('~@/assets/img/ico_move.png');
    }
    .btnDel {
      background-image: url('~@/assets/img/ico_del.png');
    }
  }
}