@import './vars.scss';

@mixin mods-hover {
  border: 1px dashed $color-grey;
}
@mixin mods-active {
  border: 1px solid $color-primary;
}
[contenteditable] {
  cursor: text;
}
.editor {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}
.tabs {
  display: flex;
  .tab {
    flex: 1;
    padding: 1em 0;
    color: $color-white;
    background-color: rgba($color-primary, .3);
    box-shadow: inset 0 -8px 8px -8px rgba(0,0,0,0.3);
    &.active {
      color: inherit;
      background-color: $color-white;
      box-shadow: none;
    }
  }
}
.moduleList {
  border: 1px solid $color-lgrey;
  background-color: $color-white;
	.list {
		display: flex;
		flex-wrap: wrap;
		width: 360px;
    padding: 8px;
    font-size: 14px;
		border-top: none;
		background-color: $color-white;
		.item {
			position: relative;
			width: calc(33.33% - 8px);
			margin: 4px;
			padding-top: 1em;
			padding-bottom: 1em;
			text-align: center;
			white-space: nowrap;
			border: 1px solid $color-lgrey2;
			background-color: $color-white;
			cursor: move;
			&:before {
				content: "";
				display: block;
				margin-bottom: 1em;
				padding-bottom: calc(100% - 4.5em);
			}
			&:hover {
				border-color: $color-grey;
			}
		}
	}
}
.preview {
  flex: 1;
  padding: 0 30px;
  .article {
    max-width: 375px;
    margin: 0 auto;
    background-color: $color-white;
    &.isEmpty {
      position: relative;
      padding: 250px 0;
      &:before {
        content: "콘텐츠를 작성하세요.";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .modsWrap {
    min-height: 300px;
  }
  .item {
    padding: 8px 30px;
    text-align: center;
    @include mods-hover;
  }
  .mods {
    &:before {
      content: "";
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      border: 1px dashed transparent;
    }
    &:hover {
      z-index: 1;
      &:before {
        @include mods-hover;
      }
    }
    &.hover {
      z-index: 1;
      .handleMods {
        display: block;
        .handle {
          @include mods-hover;
        }
			}
    }
    &.active {
      z-index: 2;
      &:before {
        @include mods-active;
      }
      .handleMods {
        display: block;
        .handle {
          @include mods-active;
          background-color: $color-primary;
        }
      }
    }
  }
  .handleMods {
    display: none;
    position: absolute;
    top: -1px;
    left: 100%;
    background-color: #fff;
    .handle {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      background-color: $color-grey;
      background-position: 50% 50%;
      background-size: 66%;
      background-repeat: no-repeat;
      &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        border-top: 1px solid $color-white;
        opacity: 0.3;
      }
      &:first-of-type:before {
        display: none;
      }
    }
    .handleMove {
      cursor: move;
      background-image: url('~@/assets/img/ico_move.png');
    }
    .handleDel {
      background-image: url('~@/assets/img/ico_del.png');
    }
  }
}
.moduleSetting {
  width: 300px;
  border: 1px solid $color-lgrey;
  background-color: $color-white;
  .requireMessage {
    padding: 10em 0 20em;
    text-align: center;
  }
  .list {
    padding: 15px;
  }
  .item {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid $color-lgrey2;
    background-color: $bg-default;
    &:first-of-type {
      margin-top: 0;
    }
    .label {
      margin-top: 1em;
      margin-bottom: 0.3em;
      font-size: 0.8em;
    }
    .unit {
      margin-top: 15px;
      &:first-of-type {
        margin-top: 0;
      }
      &.hasColumn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -4px;
        margin-right: -4px;
        .unitColumn {
          flex-basis: calc(50% - 8px);
          margin: 0 4px;
        }
      }
      .message {
        font-size: 12px;
        color: $color-red;
      }
    }
    .itemList {
      .listItem {
        display: block;
        position: relative;
        margin-right: 0;
        margin-bottom: 15px;
        .itemInput {
          width: calc(100% - 24px);
          margin-left: 24px;
          padding-right: 55px;
        }
        .input2 {
          margin-top: 5px;
          padding: 5px 8px;
          font-size: 12px;
          color: $color-grey;
        }
        .itemCheck+label {
          position: absolute;
          top: 9px;
          left: 0;
        }
      }
      .btnRemove {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        text-indent: -9999px;
        opacity: 0.5;
        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 20px;
          height: 2px;
          margin-top: -1px;
          margin-left: -10px;
          background-color: $color-grey;
          transform-origin: 50% 50%;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
        &:hover {
          opacity: 1;
        }
      }
    }
    .input {
      width: 100%;
      padding: 8px 10px;
      border: 1px solid $color-lgrey2;
      background-color: $color-white;
      &[disabled] {
        color: $color-lgrey;
        background-color: $color-lgrey2;
        cursor: not-allowed;
      }
    }
    .upload {
      position: relative;
      input[type="text"] {
        font-size: 14px;
      }
      /*
      input[type="file"] {
        position: absolute;
        left: -9999px;
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        opacity: 0;
      }
      */
      label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }
  .colorPreset {
    position: relative;
    border: 1px solid $color-lgrey2;
    &.active {
      z-index: 1;
    }
    .btnColorPicker {
      width: 100%;
      height: 38px;
      text-indent: -9999px;
      color: transparent;
      border: none;
      background: none;
      cursor: pointer;
    }
    .vc-sketch {
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}