/* valiable */
$f-f-default: 'Noto Sans KR', 'Noto Sans', 'sans-serif';
$f-z-default: 14px;
$f-w-light: 300;
$f-w-regular: 400;
$f-w-bold: 700;
$f-color-default: #3e3e3e;
$color-primary: #4d566d;
$color-red: #de5c5c;
$color-green: #76b955;
$color-blue: #4da2cc;
$color-purple: #a367bb;
$color-black: #1e1e1e;
$color-dgrey: #656565;
$color-grey: #999;
$color-lgrey: #d0d0d0;
$color-lgrey2: #efefef;
$color-white: #fff;
$bg-default: #f5f6f7;

/* mixin */
@mixin input {
	width: 100%;
	border: 1px solid $color-lgrey;
	background-color: $color-white;
}
